[Unit]
Description=Early Audio Play App
DefaultDependencies=no
Wants=pipewire.service
After=pipewire.service
ConditionPathExists=/data/sample-3s.wav

[Service]
User=root
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/audio_play_app.sh /data/sample-3s.wav
StandardOutput=journal
StandardError=journal
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target
