# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

# This oneshot systemd service is responsible for triggering the early
# boot chime.
#
# It strictly depends on PipeWire and fires immediately after PipeWire
# is ready, acting as the final checkpoint in this boot sequence.

# Plays a given sample audio file when pipewire.service ready at boot
# time. Measures the audio chime timing which indicates boot completion.

[Unit]
Description=Early Audio Play App

# Do not wait for late-boot targets. Start as soon as audio is ready
DefaultDependencies=no
Requires=pipewire.service
After=pipewire.service
ConditionPathExists=/usr/share/sounds/sample-3s.wav

[Service]
User=root
Type=oneshot

# RemainAfterExit esure service isn't restarted continuously
RemainAfterExit=yes
ExecStart=/usr/bin/audio_play_app.sh /usr/share/sounds/sample-3s.wav

# StdOut/Err to journal ensures we capture internal script logs
StandardOutput=journal
StandardError=journal
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target
