# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

# Starts Camera Preview when camera and weston services ready at
# boot time. Measures the time for 1st camera frame preview which
# indicates boot completion on products like Action-Camera.
#
# Disabled by default. Need to enable this service explicitly when
# required for boot time measurements.

[Unit]
Description=Early Camera Preview app
DefaultDependencies=no
Requires=cam-server.service weston.service
After=cam-server.service weston.service

[Service]
User=root
Type=simple
LimitCORE=infinity
ExecStart=/usr/bin/cam_preview_app.sh
Restart=always
CPUSchedulingPolicy=rr
CPUSchedulingPriority=90
LimitRTPRIO=90
Environment="WAYLAND_DISPLAY=/run/wayland-0"

[Install]
WantedBy=multi-user.target
