[Unit]
Description=Weston socket

# Remove default dependenies (sysinit.target, basic.target) to enable early start
# Pre-creates the Wayland socket. This allows early client applications
# (like cam_preview_app) to connect as soon as Weston starts listening.
DefaultDependencies=no

RequiresMountsFor=/run

[Socket]
ListenStream=/run/wayland-0
SocketMode=0775
SocketUser=weston
SocketGroup=wayland
RemoveOnStop=yes

[Install]
WantedBy=sockets.target

